*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


nav{
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: space-between;
  padding: 0 140px 0 140px;
  position: sticky;
  top: 0;
  background: white;
  width: 100%;

}
nav img{
  width: 70px;
}
.nav2{
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav2 a{
  color: #2f429b;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
}
.navv i{
  font-size: 12px;
  color: #2f429b;

}
.navv{
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 60px;


}
.dropdown1{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  width: 200px;
  background-color: white;
  border-top: #2f429b solid 2px;
  padding: 20px 30px;
  line-height: 30px;
  transition: .1s;

  display: none;
}
.dropdown1 a{
  color: black;
  font-size: 14px;
}

#drop1:hover .dropdown1{
  display: flex;
  flex-direction: column;
  /* line-height: 30px; */

}
.sec2-1{
  /* line-height: 30px; */
  font-size: 35px;
}
.sec2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fffef7;
  padding: 0 100px;
}
.sec2 img{
  width:480px;
}
.sec2-2{
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  color: #51616e;
  margin-top: 20px;
}
.btn button{
  width: 130px;
  color: white;
  background-color: #00208a;
  height: 50px;
  border-radius: 10px;
  border: none;
}
.sec3-1{
  display: flex;
  gap: 40px;
 
}
.sec3-1 img{
  width: 320px;
}
.sec3{
  width: fit-content;
  margin: auto;
  margin-top: 40px;
}
.sec3 h1{
  color: #00208a;
  font-size: 40px;
}
.sec3 h3{
  color: #00208a;
  font-size: 23px;

}

.lm a{
  color: #050754;
  text-decoration: none;
}
.lm{
  height: 30px;
  border-bottom: solid #050754 2px ;
  width: fit-content;
}
.sec3 p{
  font-size: 16px;
  color: #51616e;
  font-weight: 600;
}
.sec3-3{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.sec3-2{
  margin-top: 30px;
}
.sec4-2{
  border-bottom: solid #81bfc6 1px;
  margin-top: 20px;
  padding-bottom: 10px;
  
}
.sec4{
  display: flex;
  width: fit-content;
  margin: auto;
  gap: 100px;
  margin-top: 30px;
}
.sec4 p{
  color: #666666;
  font-size: 15px;
  font-weight: 500;
}
.sec5-2{
  background: #d5eaf3;
  padding: 60px;
  width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #010202;
  margin-top: 50px;
}
.sec5-2 img{
  border-radius: 20px;
  width: 400px;
}
.sec5-2 p{
  font-size: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.sec5-4{
  background: #eeefbd;
  padding: 60px;
  width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #010202;
  height: fit-content;
}
.sec5-4 img{
  border-radius: 20px;
  width: 400px;
}
.sec5-4 p{
  font-size: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.sec5-3{
  background: #e0d5c0;
  padding: 60px;
  width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #010202;
}
.sec5-3 img{
  border-radius: 20px;
  width: 400px;
}
.sec5-3 p{
  font-size: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.sec5{
  display: flex;
  gap: 50px;
  width: fit-content;
  margin: auto;
  margin-top: 100px;
}


.sec5-5{
  background: #dfd5e8;
  padding: 60px;
  width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #010202;
}
.sec5-5 img{
  border-radius: 20px;
  width: 400px;
}
.sec5-5 p{
  font-size: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.sec5-0{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec5-0 h1{
  font-size: 50px;
}

.sec6 img{
  width: 150px;
}
.sec6-1{
  display: flex;
  gap: 150px;
}
.sec6{
  width: fit-content;
  margin: auto;
  font-size: 20px;
  margin-top: 200px;
}
.sec7{
  background-image: url(./images/dsc.jpg);
  height: 70vh;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}
.sec7-2 h1{
  font-size: 50px;
}
.sec7-2{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sec7-2 p{
  font-weight: 600;
}
iframe{
  border-radius: 20px;
}
.sec7-2 button{
  width: 150px;
  height: 50px;
  background: #033cc1;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}
span{
  color: #fc9428;
}
.sec8-2{
  text-align: center;
  width: fit-content;
}
.sec8-2 img{
  border-radius: 50%;
  width: 60px;
  height: 50px;
}
#powered{
  width: 150px;
  height: auto;
}